.bg-all{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover
}
body {
    background: lightgray;
    font-family: Montserrat;
}
body a{
    color: black;
}

.form-switch{
    margin-left: 70px !important;
}

.window {
    width: 600px !important;
    height: 690px;
    background: #ffffff;
    margin-top: 100px !important;
    box-shadow: 10px 10px 10px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 20px;
}

    .window h1 {
        font-weight: 700;
        margin: 40px;
        text-align: center;
    }

    .window a:hover {
        color: orange;
    }

.btn-social {
    width: 205px !important;
    height: 50px;
    margin: 20px;
    font-weight: 400;
    color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.user-input {
    margin: 10px 10px 0 67px;
}

.user-input input {
    width: 90%;
    height: 40px;
    border: none;
    background-color: lightgray;
    border-radius: 20px;
    font-size: 20px;
    padding: 20px;
}
.user-input-reg{
    margin: 0 0 0 0px;
}
.user-input-reg input {
    width: 95%;
    height: 40px;
    border: none;
    background: lightgray;
    border-radius: 20px;
    font-size: 20px;
    padding: 15px;
}

.input-container {
    position: relative;
}

    .input-container i {
        position: absolute;
        top: 50%;
        right: 70px; /* Расположение иконки по горизонтали */
        transform: translateY(-50%); /* Расположение иконки по вертикали по центру */
        color: #999; /* Цвет иконки */
    }