@page
@using RestaurantMenu.Models.Models;
@using RestaurantMenu.Utils;
@using System.Security.Claims;
@model RestaurantMenu.App.Pages.MenuModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["header"] = $"Lucky {Model.Header}";

    string result = HttpContext.Session.GetString(WC.SessionValues.isActionSucces.ToString());
    string toastMessage = result == "True" ? "Операция выполнена успешно." : "Возникла непредвиденная ошибка! Попробуйте ещё.";
    string toastBG = result == "True" ? "bg-warning" : "bg-danger";
}

<div class="container">
        
        @* Categories product selector *@
        <div class="categories mt-5 text-center">
             <form method="post" asp-page-handler="GetProducts" id="categoryForm" class="row">
                   <input type="radio" asp-for="ProductCategory" value="1" onclick="submitForm('categoryForm')" class="btn-check" id="btnradio1" checked />
                   <label class="btn btn-outline-dark col categories-btn m-4 mt-2 mb-4 fw-bold text-uppercase text-nowrap" for="btnradio1">Lucky Food</label>

                   <input type="radio" asp-for="ProductCategory" value="2" onclick="submitForm('categoryForm')" class="btn-check" id="btnradio2" />
                   <label class="btn btn-outline-dark col categories-btn m-4 mt-2 mb-4 fw-bold text-uppercase text-nowrap" for="btnradio2">Lucky Bar</label>
             </form>
        </div>
      
        @* Menus carousel *@
        @if(Model.Menu != null)
        {
          <form class="menu-block mb-1 mt-4" method="post" asp-page-handler="getproductsbymenu">
                @foreach (Menu menu in Model.Menu)
                {               
                     <div class="menu-block__item m-3 text-decoration-none" style="background-image: url(../images/menu/@menu.Image.Path)">
                        <h4 class="fw-bold mt-4">@menu.Name</h4>
                        <input type="submit" asp-for="MenuId" value="@menu.MenuId" style="color: transparent"/> 
                    </div> 
                }
          </form>
        }

        @* Module for addind new products *@
        <div class="d-flex menu-header">
            <h3 class="fw-bold m-4 mb-0 text-uppercase">Меню <span style="color: orange">@Model.Header</span></h3>
            @if (User.HasClaim(ClaimTypes.DateOfBirth, "01.01.2020"))
            {
                <a asp-controller="Product" asp-route-id="0" class="mt-3" style="font-size: 25px">
                    <i class="fa-regular fa-square-plus" style="color: black;"></i>
                </a>
            }           
        </div>

        @* Rendering product cards with sorting *@
        <div class="row mt-5 m-2">
             @if (Model.Products is not null && Model.IsSelectedMenu == false)
             {
                ViewData["header"] = $"Lucky {Model.Header}";
                @await Html.PartialAsync("_ProductsList", Model.Products)                 
             }
             else if (Model.Products is not null && Model.IsSelectedMenu == true)
             {
                ViewData["header"] = $"{ViewData["menuName"]}";
                @await Html.PartialAsync("_ProductsList", Model.Products)           
             }
        </div>

        @* Toast for notification about processing method *@
        @if (result != null)
        {
            <div id="toast-notice" class="toast show align-items-center @toastBG border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <button type="button" asp-page-handler="CloseNotice" class="btn-close btn-close-white m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    <div class="toast-body">
                        <h6 class="text-white mt-2 ">@toastMessage</h6>
                    </div>               
                </div>
            </div>
        }
          
</div>



@section Scripts{
    <script>
        function submitForm(name) {
            document.getElementById(name).addEventListener('submit', function (event) { event.preventDefault(); })
            document.forms[name].submit();
        }
    </script>
}


