@page
@model LuckyFoodSystem.MenuApp.Pages.Shared.HomeModel
@{
    ViewData["Title"] = "Ресторан LuckyFood";
}

<div class="container mt-5 mb-5">
    <h1 class="text-center">Добро пожаловать в лучший фудмаркет Краснодара!</h1>
    <p class="text-center mt-3">Данный информационный сервис предназначен для просмотра меню и ориентации в нашем ресторане.</p>
    <div class="row mt-5 text-decoration-none">
        <a asp-page="/Menu"
           class="col-xl col-md-12 m-2 nav-block" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../images/static/menuBG.jpg);">
            <h4 class="text-white fs-2 fw-bold mt-5">Меню</h4>
        </a>
        <div class="col-xl col-md-12 m-2 nav-block" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(./images/static/deliveryBG.jpg);">
            <h4 class="text-white fs-2 fw-bold mt-5">Доставка</h4>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-xl col-md-12 m-2 nav-block" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(./images/static/navBG.jpg);">
            <h4 class="text-white fs-2 fw-bold mt-5">Навигация</h4>
        </div>
        <div class="col-xl col-md-12 m-2 nav-block" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(./images/static/reportsBG.jpg);">
            <h4 class="text-white fs-2 fw-bold mt-5">Отзывы</h4>
        </div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-dark border-5 mt-4"><i class="fa-solid fa-circle-info fa-xl m-2" style="color: #ffffff;"></i>О нас</button><br />
        <button type="button" class="btn btn-dark border-5 mt-3"><i class="fa-solid fa-pencil fa-xl m-2" style="color: #ffffff;"></i>Оcтавить отзыв</button>
    </div>
</div>